*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
 
}
.happycoaching{
display: flex;
margin-top: 16px;
width: fit-content;
}
.ssilki_navbar{
    display: flex;
    justify-content: space-around;
    font-family: Kumbh Sans;
   margin-left: 555px;
   width: fit-content;
   margin-top: -20px;
   gap: 30px;
}
.ssilki_navbar a{
    color: #4A556C;
    text-decoration: none;
    position: relative;
}
.ssilki_navbar a::after {
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(57, 53, 56); 
    transition: width 0.5s ease-in-out; /
  }
  
 
  .ssilki_navbar a:hover::after {
    width: 100%; 
  }
.getyourfree{
    margin-left: 1000px;
    width:193px;
    height: 40px;
    display:flex;
    justify-content: center;
    margin-top: -30px;
    border-radius: 4px;
background: #20AD96;
align-items: center;
}
  .getyourfree a {
    color: #ffffff; 
    transition: all 0.4s ease-in-out; 
    text-decoration: none;
    
  }
  .getyourfree a:hover {
    transform: scale(1.1);
    color: #514e4e;
    
  }
.block{
    display: flex;  
height: 720px;
padding: 128px 0px 96px 0px;
}
.header h1{
    color: #333461;
    font-size: 48px;
    font-style: normal;
    letter-spacing: -0.96px;
    margin-left: 35px;
    
}
.header h3{
    color: rgba(74, 85, 108, 0.70);
font-family: Kumbh Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-left: 35px;
margin-top: 24px;
}
.getfree{
    width:250px;
    height: 48px;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 4px;
background: #20AD96;
align-items: center;
margin-left: 30px;
}


.getfree {
    text-decoration: none; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 10px; 
    transition: all 0.5s ease-in-out; 
  }
  .getfree:hover {
    transform: scale(1.2);
    background-color: white;
    color: lightblue; 
  }
  .form{
    display: flex;
    padding: 12px 14px 12px 16px;
    margin-left: 30px;
    height: 48px;
    border-radius: 18px;
    border: 1px solid var(--gray-300, #D0D5DD);
    width: 250px;
    margin-top: 30px;
  }
  .form1 {
    display: flex;
    padding: 12px 14px 12px 16px;
    margin-left: 30px;
height: 48px;
border-radius: 18px;
border: 1px solid var(--gray-300, #D0D5DD);
width: 250px;
margin-top: 10px;
  }
 form h5{
color: var(--gray-500, #667085);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin-left: 30px;
margin-top: 15px;
 }
 .block2{
   position: relative;
    width: 600px;
    height: 720px;
    background: #FAF8F6;
    margin-left: 90px;
    margin-top: -110px;
 }
 .svg_block2{
    position: absolute;
    margin-left: 90px;
    margin-top: 70px;
 }
 .img_block2{
    position: absolute;
    top: 288px;
    left: 195px;
 }
 .svg1_block2{
    position: absolute;
    left: 115px;
    top: 130px;
 }
 
.circle {
    position: absolute;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background-color: #20AD96; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: all 0.7s ease-in-out;
    left: 480px; 
    top: 30px;
  }
  .free {
    color: white;
  }
  .circle:hover {
    transform: rotate(360deg);
    background-color: #104c42; ;
  }
  .free:hover {
    color: #ffffff; 
  }
  .svg2_block2{
    position: absolute;
    top: 570px;
    margin-left: 90px;
  }
  .circle1{
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 575px;
    margin-left: 180px;
    width: 50px;
    height: 50px;
  }
  .circle1 svg{
    margin-left: 17.5px;
    margin-top: 17px;
  }
  .ready_to_start{
    position: absolute;
    margin-top: 590px;
    margin-left: 235px;
    color: #FAF8F6;
    
  }
  .ready_to_start h5{
    line-height: 25px;
    font-family: Kumbh Sans;
font-size: 14px;
font-weight: 400;
  }

  /* ifshvufeinj */
  
    